/*

Colors
------
white: #FFFFEA
gray: #D8D8D8
red: #FF5E5B
green: #00CECB
yellow: #FFED66

*/


/* General */

body {
    background-color: #FFFFEA;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    font-family: 'Abel', sans-serif;
    color: #FF5E5B;
}



/* Main page */

.heading {
    font-size: 52px;
    font-family: 'Lobster', cursive;
    color: #FF5E5B;
    margin-bottom: 0;
}

p.desc {
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 60px;
}




/* Cards */

.cards-container {
    display: block;
    margin: 40px;
}

.flip-container {
    position: relative;
    display: inline-block;
    margin: 15px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-container.active .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    border-radius: 5px;
    color: #FFFFEA;
    width: 180px;
    height: 220px;
}

.flipper {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    background-color: #FF5E5B;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.front label {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    padding-top: 15px;
}

.back {
    position: relative;
    background-color: #00CECB;
    transform: rotateY(180deg);
    text-align:center;
    vertical-align:middle;
    display:table-cell;
}

.back label {
    width: 100%;
    font-size: 24px;
}



/* Timer */

.timer {
    display: none;
    position: fixed;
    pointer-events: none;
    left: 30px;
    top: 30px;
}

.timer label#minutes,
.timer label#seconds {
    display: inline-block;
    font-size: 20px;
}

.timer .time {
    display: none;
    font-size: 13px;
}




/* Buttons */

.btn {
    display: inline-block;
    background-color: #FFED66;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;

    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF5E5B;

    box-shadow: 0 3px 0 #FF5E5B;
    cursor: pointer;
    transition: all 100ms linear;
}

.btn:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    box-shadow: 0 7px 0 #FF5E5B;
}

.btn:focus {
    outline: 0;
}




/* Helpers */

.align-center {
    text-align: center;
}

.hide {
    display: none !important;
}

.cursor-default {
    cursor: default !important;
}


/* Reponsive Rules */
@media screen and (max-width: 1200px) {
    .flip-container, .front, .back {
        width: 140px;
        height: 180px;
    }

    .timer {
        padding: 10px;
        border-radius: 5px;
        background-color: #FFFFEA;
    }
}

@media screen and (max-width: 992px) {
    .flip-container, .front, .back {
        width: 100px;
        height: 140px;
    }

    .front label {
        display: inline-block;
        font-size: 16px;
        padding-top: 10px;
    }

    .cards-container {
        margin: 40px 10px;
    }

    .timer {
        top: 10px;
        left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .flip-container, .front, .back {
        width: 80px;
        height: 120px;
    }
}



/* Animations */

@keyframes wobble {
    from {
        transform: none;
    }

    15% {
        transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: none;
    }
}

.wobble {
    animation: wobble 600ms ease-in-out;
}